{% load staticfiles %}
<html>
    <head>
        <title>Dr. Reese Said ...</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Gaegu:300,400,700|Montserrat" rel="stylesheet" type="text/css">
        {{ PostForm.media }}
    </head>
    <body>
<div class="page-header">
    {% if user.is_authenticated %}
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
        <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
    {% else %}
        <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
    {% endif %}
    <h1><a href="/">Dr. Reese Said ...</a></h1>
    <h3>A personal brand that aims not to talk about personal things.</h3>
</div>
<div class="row">
<div class="leftcolumn">
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</div>
<div class="rightcolumn">
   <div class="card">
      <h2>About Me</h2>
      <div class="fakeimg" style="height:100px;">Image</div>
      <p>A psychologist, a data scientist, a dog ownder, a mom-to-be, and everything in between. Based in Houston, Texas.</p>
    </div>
    <div class="card">
      <h2>Follow Me</h2>
      <p>Some text..</p>
    </div>
</div>
</div>
    </body>
</html>