h1 a {
    color: #27647B;
    font-family: 'Gaegu', cursive;
}

body {
    padding-left: 15px;
}

.page-header {
    background-color: #27647B;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2 {
    font-family: 'Gaegu', cursive;
}

h3, h4 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
    font-family: 'Montserrat', sans-serif;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.comment {
    margin: 20px 0px 20px 20px;
}

.leftcolumn { 
  float: left;
  width: 70%;
  padding-right: 20px;
}

.rightcolumn {
  float: left;
  width: 30%;
  padding-left: 20px;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.card {
  background-color: #F8EFEE;
  padding: 20px;
  margin-top: 20px;
  margin-right: 40px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn { 
    width: 100%;
    padding: 0;
  }
}

.fa {
    padding: 20px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github {
    background: #2B2727;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #0077B5;
    color: white;
}
